<template lang="pug">
.task
    header
        p.date {{dateCreated}}
        p.name {{name}}
    body
        p.proyect {{proyect}}
        p.timer {{ formatTime(time) }}
    footer
        button.delete(@click="deletTask") ⭕ <br>
            .span.button-content completo
        button.start(@click="startPomodoro") 🕛 <br>
            span.button-content pomodoro
        button.resetar(@click="restartPomodoro") ⏹ <br>
            span.button-content restart
</template>
<script>
export default {
    name: 'Task',
    model: {
        prop: 'seconds',
        event: 'change'
    },
    props: {
        name: {
            type: String
        },
        proyect: {
            type: String
        },
        dateCreated: {
            type: String
        }
    },
    data() {
        return {
            interval: '',
            time: 25 * 60
        }
    },
    methods: {
        startPomodoro() {
            this.interval = setInterval( () => {
                this.time --
                this.$emit('change', this.formatTime(this.time) )
            } , 1000)
        },
        restartPomodoro() {
            clearInterval(this.interval)
            this.time = 25 * 60
            this.$emit('change', this.formatTime(this.time) )
        },
        deletTask() {
            this.$emit('delete')
        },
        formatTime(time) {
             // Pull those hours out of totalSeconds
            const totalMinutes = Math.floor(this.time/60)
            const totalSeconds = this.time - (totalMinutes*60)
            return `${totalMinutes}m ${totalSeconds}s`
        }
    }
}
</script>
<style lang="scss">
.task {
    text-align: left;
    display: flex;
    width: 100%;
    justify-content: space-between;
    border-top: 1px solid gray;
    padding: 2rem 0;

    .name {
        font-size: 2rem
    }
    button {
        padding: 1rem;
        margin: 8px;
        border: 1px solid;
        border-radius: 3px;
        font-size: 1.5rem;
        &:hover {
            background: gray;
        }
        .button-content {
            font-size: 10px
        }
    }
    footer {
        display: flex;
    }
}
</style>
