<template lang="pug">
#app
  .container
    h1.title(v-if="timer") {{timer}}
    h1.title(v-else) simple task and pomodoro
  .taskbuilder.container
    form( @submit.prevent="addtask")
      input(type="text" v-model="form.name" placeholder="Nombre de la tarea")
      input(type="text" v-model="form.proyect" placeholder="proyecto")
      button.submit add
  .tasklist.container
    Task(
      v-for="(task, index) in tasks"
      v-bind="task"
      :key="index"
      @delete="deleteTask(index)"
      v-model="timer"
      )

</template>

<script>
import Logo from '~/components/Logo.vue'
import Task from '~/components/Task.vue'
import dayjs from 'dayjs'
import LocalizedFormat from 'dayjs/plugin/localizedFormat'
import 'dayjs/locale/es'

export default {
  components: {
    Logo,
    Task
  },
  data() {
    return {
      currentTime: 0,
      form: {
        name: "",
        proyect: ""
      },
      tasks: [],
      timer: ""
    }
  },
  methods: {
    addtask() {
      const task = {
        name: this.form.name,
        proyect: this.form.proyect,
        dateCreated: dayjs( new Date()).format('LL')
      }
      this.tasks.push(task)
    },
    deleteTask(i) {
      this.tasks.splice( i, 1)
    }
  },
  mounted() {
    dayjs.locale('es')
    dayjs.extend(LocalizedFormat)
  }
}
</script>

<style lang="scss">
/* Sample `apply` at-rules with Tailwind CSS
.container {
  @apply min-h-screen flex justify-center items-center text-center mx-auto;
}
*/
.container {
  margin: 0 auto;
  min-height: 20vh;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.title {
  font-family: 'Work Sans', 'Source Sans Pro', -apple-system, BlinkMacSystemFont,
    'Segoe UI', Roboto, 'Helvetica Neue', Arial, sans-serif;
  display: block;
  font-weight: 300;
  font-size: 100px;
  color: #35495e;
  letter-spacing: 1px;
}

.subtitle {
  font-weight: 300;
  font-size: 42px;
  color: #526488;
  word-spacing: 5px;
  padding-bottom: 15px;
}

.links {
  padding-top: 15px;
}

input[type="text"] {
  border-bottom: 1px solid black;
  height: 100%;
  margin: .5rem;
  padding: 1rem 0
}
button.submit {
  background: black;
  color: white;
  height: 100%;
  padding: 1rem;
}
</style>
